<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suit" parallel="tests" thread-count="2">
    <parameter name="environmentUrl" value="https://google.com"/>
    <test name="LinkedinChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.GoogleSearchTest">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="test.GoogleSearchTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="test.GoogleSearchTest">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>